.ErrorPage,
.InfoPage,
.App,
.Header,
.DefaultComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
}

.Header {
  height: 20vh;
  width: 100vw;

  gap: 1vh;
}

.Main {
  height: 80vh;
  width: 100vw;
}

.InfoPage,
.ErrorPage {
  gap: 3vh;
}

.App img {
  height: 25vw;
  width: 25vw;
}
